

{% extends 'base.html' %}

{% block title %}
Часто вопросы
{% endblock %}


{% block main %}
<div class="accordion" id="accordionExample">
<div class="accordion-item">
            <h4 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Как провести интернет в дом или квартиру?
              </button>
            </h4>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
              <div class="accordion-body">
                Стать нашим клиентом очень просто!
Для этого достаточно оставить заявку любым удобным для вас способом.

На сайте
Выберите подходящий тариф и нужные опции. Заполните заявку. Мы позвоним, уточним детали и назначим выезд специалиста в удобное для вас время.

Подключиться

По телефону
Оставьте заявку по бесплатному круглосуточному номеру:  8 800 450 0 150

В любом офисе Теле2
Приходите в офис продаж и обслуживания. Консультанты ответят на вопросы и помогут подобрать самый подходящий тариф.

Адреса офисов

В Личном кабинете
Зарегистрируйтесь в бесплатном онлайн-сервисе управления услугами Ростелекома. Личный кабинет доступен круглосуточно и с любого устройства. В Личном кабинете нажать кнопку «Заказать новую услугу», оформите заявку.
              </div>
            </div>
          </div>
    <div class="accordion-item">
            <h4 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                Как перенести платеж между лицевыми счетами?
              </button>
            </h4>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
              <div class="accordion-body">
                Для переноса денежных средств подготовьте и пришлите нам сканы документа:

Заполненное заявление на перенос (шаблон заявления)
Прикрепите файлы в разделе Помощь Личного кабинета или в приложении «Мой Ростелеком».

В личном кабинете доступно перемещение средств между лицевыми счетами физических лиц с разными услугами между разными регионами «МРФ Урал».

Как перевести ошибочный платеж
Вы можете перевести ошибочный платёж на правильный номер лицевого счета. Подготовьте и пришлите нам сканы документов:

Заполненное заявление на перевод ошибочного платежа (шаблон заявления)
Скан/фото чека или квитанции об оплате
Сканы документов должны быть надлежащего качества с четким изображением информации.​​
              </div>
            </div>
          </div>
    <div class="accordion-item">
            <h4 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                Как подключить домашний телефон?
              </button>
            </h4>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
              <div class="accordion-body">
                В Личном кабинете
Вы можете выбрать тарифный план и подключить дополнительные опции в Личном кабинете. Мы позвоним в удобное для вас время, чтобы уточнить детали заявки.

На сайте
Заполнить заявку на подключение телефона также можно на сайте rt.ru. Выберите подходящий тарифный план, при необходимости дополнительные опции и удобное время для уточняющего звонка нашего оператора.

Подключиться

По телефону
Заявку на подключение телефона можно оставить по бесплатному номеру  8 800 100 0 800  Он доступен круглосуточно.

В любом офисе Теле2
Приходите в офис продаж и обслуживания. Консультанты ответят на вопросы и помогут подобрать самый подходящий тариф.
              </div>
            </div>
          </div>
    <div class="accordion-item">
            <h4 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                Как подключить автоплатеж?
              </button>
            </h4>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
              <div class="accordion-body">
                Чтобы вам не приходилось ежемесячно вносить платежи вручную — настройте автоматическое пополнение счета с банковской карты. Сделать это можно несколькими способами.

В Личном кабинете на сайте
Зайдите в Личный кабинет и кликните на вкладку «Автопополнение» в главном меню вверху страницы. Выберите счет и нажмите кнопку «Настроить».

В приложении «Мой Ростелеком»
Откройте меню, нажав на иконку с тремя горизонтальными полосками слева вверху. Выберите пункт «Оплата», затем зайдите в раздел «Автопополнение».
              </div>
            </div>
          </div>
    <div class="accordion-item">
            <h4 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseOne">
                Как посмотреть информацию об используемом оборудовании?
              </button>
            </h4>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
              <div class="accordion-body">
                В Личном кабинете в нижнем меню или на странице лицевого счета можно нажать на ссылку «Моё оборудование» и перейти на страницу с подробной информацией об используемом оборудовании: какое оборудование использует абонент, условия аренды или рассрочки, размер платежа, остаток задолженности по оплате оборудования, находящегося в рассрочке, условия предоставления опции «Гарантия плюс».
              </div>
            </div>
          </div>
</div>
{% endblock %}

