{% extends 'base.html' %}

{% block title %}
Вход
{% endblock %}

{% block main %}
<section class="text-center container">
    <div class="col-lg-6 col-md-8 mx-auto">
        <h1>Авторизация</h1>
        <form class="needs-validation" method="post">
            <input type="text" name="email" id="email" class="form-control" placeholder="Введите email"
                   required=""><br>
            <input type="password" name="password" id="password" class="form-control" placeholder="Введите пароль"
                   required=""><br>
            <input type="submit" class="btn btn-primary" value="Вход">
        </form>
    </div>

</section>

{% endblock %}
