{% extends 'base.html' %}

{% block title %}
Проблемы
{% endblock %}

{% block main %}
  {% if problems|length > 0 %}
  <div class="row row-cols-1 row-cols-sm-6 row-cols-md-6 g-3">
{% for i in range(problems|length) %}
        <div class="col">
          <div class="card shadow-sm">
            <div><h4>{{ i+1 }}</h4></div>
              <a href="/problem/{{i+1}}"><img src="static/ico/problem.png" class="card-img-top" width="50%" height="225"></a>
            <div class="card-body">
              <p class="card-text">тема: {{problems[i].theme}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/problem/{{i+1}}"><button type="button" class="btn btn-sm btn-outline-primary">Ответить</button></a>
                </div>
                <div align='right'>
                </div>
              </div>
            </div>
          </div>
        </div>

{% endfor %}


{% else %}
    <p>Пока у вас нет заявок</p>
{% endif %}



{% endblock %}
