{% extends 'base.html' %}

{% block title %}
Проблемы
{% endblock %}

{% block main %}
{% if current_user.admin >= 1 %}
<div>Тема проблемы: {{ problem.theme }}</div>
<div>Проблема: {{ problem.problem }}</div>
 <form method="post" class="needs-validation" enctype="multipart/form-data">
            <input type="text" name="solution" id="solution" class="form-control" placeholder="Введите решение проблемы" value="" required=""><br>
            <input type="submit" id="test" class="btn btn-primary"  style="text-align: center;" value="Отправить">
          </form>
{% else %}
<div>Ответ на вашу заявку с темой  {{ problem.theme }}</div>
<strong>{{ problem.solution }}</strong>
<a class="btn btn-success" href="/yes/{{ problem.id }}">Проблема решена</a>
<a class="btn btn-danger" href="/no/{{ problem.id }}">Не помогло</a>
{% endif %}



{% endblock %}
